<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/product.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  
</head>
<body>

<!-- menú -->
<header>

    <input type="checkbox" name="" id="toggle">
    <label for="toggle" class="fas fa-bars"></label>


    <a href="#" class="logo">OmegaPetShop<span>🐾</span></a>
    <nav class="navbar">
    
        <a href="produc.html">Productos</a>
        <a href="index.html">Sobre Nosotros</a>

    </nav>
    <div class="icons">

        <a href="#" class="fas fa-share"></a>
        <a href="login.html" class="fas fa-user">Login</a>            



    </div>
</header>



    <div class="wrap">

        <h1 > Productos</h1>
        <div class="store-wrapper">

            <div class="category-list">
                <a href="#" class="category-items" category="all" >Todo las categorias </a>
                <a href="#" class="category-items" category="Aseo" >Aseo </a>
                <a href="#" class="category-items" category="jugeteria" >Jugeteria  </a>
                <a href="#" class="category-items" category="acces" >Accesorios </a>
                <a href="#" class="category-items" category="comperros" >Comida para perros </a>
                <a href="#" class="category-items" category="comgatos" >Comida para gatos</a>
                <a href="#" class="category-items" category="otros" >Otros..</a>

            </div>

            <section class="products-list">


                <div class="product-items" category="Aseo">
                    <img src="img/img2.jpg" alt="">
                    <a   href="#"> Shampoo Dinky</a>
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Comprar</a>
                        <a href="#" class="fas fa-car"></a>
                   </div>
                </div>
                                <!--producto 1-->

                <div class="product-items" category="Aseo">
                    <img src="img/img5.jpg" alt="">
                    <a href="#"> Acondicionador Dinky</a>
                    <a   href="#"> Shampoo Dinky</a>
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Comprar</a>
                        <a href="#" class="fas fa-car"></a>
                   </div>
                </div>
                                <!--producto 2-->  

                <div class="product-items" category="Aseo">
                    <img src="img/img3.webp" alt="">
                    <a href="#"> Shampoo Can Amor</a>
                    
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Comprar</a>
                        <a href="#" class="fas fa-car"></a>
                   </div>
                </div>
                            <!-- producto 3-->
                <div class="product-items" category="Aseo">
                    <img src="img/img4.jpg" alt="">
                    <a href="#"> Shampoo y Jabón Cachorritos</a>
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Comprar</a>
                        <a href="#" class="fas fa-car"></a>
                   </div>
                </div>

                            <!--producto 4-->
                <div class="product-items" category="jugeteria">
                    <img src="img/img13.jpg" alt="">
                    <a href="#"> Huesos de hule </a>
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Comprar</a>
                        <a href="#" class="fas fa-car"></a>
                   </div>
                </div>

                

                            <!--producto 5-->
                <div class="product-items" category="acces">
                    <img src="img/img11.jpg" alt="">
                    <a href="#"> Collares para perros</a>
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Comprar</a>
                        <a href="#" class="fas fa-car"></a>
                   </div>
                </div>

                            <!--producto 6-->
                <div class="product-items" category="comperros">
                    <img src="img/comida1.jpg" alt="">
                    <a href="#"> Comida para perros DOGSHOW</a>
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Comprar</a>
                        <a href="#" class="fas fa-car"></a>
                   </div>
                </div>


                    <!--producto 7-->
                    <div class="product-items" category="comgatos">
                        <img src="img/gato1.jpg" alt="">
                        <a href="#"> Comida para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>

                    <!--producto 8-->
                    <div class="product-items" category="comgatos">
                        <img src="img/gato1.jpg" alt="">
                        <a href="#"> Comida para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                    <!--producto 9-->
                    <div class="product-items" category="comgatos">
                        <img src="img/gato2.jpg" alt="">
                        <a href="#"> Comida para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                    <!--producto 10-->
                    <div class="product-items" category="comgatos">
                        <img src="img/gato3.jpg" alt="">
                        <a href="#"> Comida para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                    <!--producto 11-->
                    <div class="product-items" category="comgatos">
                        <img src="img/gato4.jpg" alt="">
                        <a href="#"> Comida para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                    <!--producto 12-->
                    <div class="product-items" category="comgatos">
                        <img src="img/gato5.jpg" alt="">
                        <a href="#"> Comida para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>





                    <!--producto 13-->
                    <div class="product-items" category="acces">
                        <img src="img/img1.jpg" alt="">
                        <a href="#"> Capa de lluvia perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                    <!--producto 14-->
                    <div class="product-items" category="acces">
                        <img src="img/gatocollar.webp" alt="">
                        <a href="#"> Collar rosado gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>

                

                      <!--producto 15-->
                      <div class="product-items" category="acces">
                        <img src="img/665a062f2a72e57e2e77bbbd00f67c86_tn.jpg" alt="">
                        <a href="#"> Collar lujo gato</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                      <!--producto 16-->
                      <div class="product-items" category="comperros">
                        <img src="img/ringo.jpg" alt="">
                        <a href="#"> Comida RINGO perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>





                      <!--producto 18-->
                      <div class="product-items" category="comperros">
                        <img src="img/chunky.jpg" alt="">
                        <a href="#"> Comida CHUNKY perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>





                      <!--producto 19-->
                      <div class="product-items" category="comperros">
                        <img src="img/crudo.jpg" alt="">
                        <a href="#"> comida cruda para perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                     <!--producto 20-->
                     <div class="product-items" category="jugeteria">
                        <img src="img/img12.jpg" alt="">
                        <a href="#"> lazo con pelota para perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                     <!--producto 22-->
                     <div class="product-items" category="otros">
                        <img src="img/casa1.webp" alt="">
                        <a href="#"> Casas para perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                    
                     <!--producto 23-->
                     <div class="product-items" category="otros">
                        <img src="img/casa2.webp" alt="">
                        <a href="#"> Casa para perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                    
                     <!--producto 24-->
                     <div class="product-items" category="otros">
                        <img src="img/casa3.jpg" alt="">
                        <a href="#"> Casa para perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                    
                     <!--producto 25-->
                     <div class="product-items" category="otros">
                        <img src="img/rasca1.jpg" alt="">
                        <a href="#"> rascador para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                    
                     <!--producto 26-->
                     <div class="product-items" category="otros">
                        <img src="img/rasca2.jpg" alt="">
                        <a href="#"> rascador para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                    
                     <!--producto 27-->
                     <div class="product-items" category="otros">
                        <img src="img/rasca3.jpeg" alt="">
                        <a href="#"> rascador para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                    
                     <!--producto 28-->
                     <div class="product-items" category="otros">
                        <img src="img/comegato.jpg" alt="">
                        <a href="#"> comedero para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>



                            
                     <!--producto 29-->
                     <div class="product-items" category="otros">
                        <img src="img/comegato1.webp" alt="">
                        <a href="#"> comedero para gatos</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>





                            
                     <!--producto 30-->
                     <div class="product-items" category="otros">
                        <img src="img/comperro.jpg" alt="">
                        <a href="#"> comedero para perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>





                            
                     <!--producto 31-->
                     <div class="product-items" category="otros">
                        <img src="img/comperro2.webp" alt="">
                        <a href="#"> comedero para perros</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>




                            
                     <!--producto 32-->
                     <div class="product-items" category="otros">
                        <img src="img/hamst.webp" alt="">
                        <a href="#"> casas para hamster</a>
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">Comprar</a>
                            <a href="#" class="fas fa-car"></a>
                       </div>
                    </div>

                   
            </section>

        </div>



    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/product.js"></script>
</body>
</html>