<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OmegaPetShop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!-- menú -->
    <header>

        <input type="checkbox" name="" id="toggle">
        <label for="toggle" class="fas fa-bars"></label>


        <a href="#" class="logo">OmegaPetShop<span>🐾</span></a>
        <nav class="navbar">
        
        </nav>
        <div class="icons">

            <a href="/logout" class="fas fa-share"></a>
            <a href="#" class="fas fa-shopping-bag"> 1 </a>
            <a href="/login/index" class="fas fa-user"></a>         



        </div>
    </header>

  <section class="home" id="home">

    <div class="content">
        <h3> Articulos de mascotas</h3>
        <span>De muy buena calidad  </span>
        <p>Articulos para tus mascotas de las mejores veterinarias, importados con la mejor calidad en todo el País
        </p>
        <a href="#" class="btn">shop now</a>
    </div>
  </section>

       <!--Prodcutos en descuento section -->


<section class="productos" id="productos">

    <h1 class="heading">Últimos <span> Descuentos</span></h1>

    <div class="box-container">

        <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img1.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Capa de lluvia para perro</h3>
            <div class="price">$80.000 <span>$70.000</span></div>
        </div>
    </div>

    <!--segundo-->

    <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img2.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Shampoo DINKY </h3>
            <div class="price">$15.000 <span>$8.000</span></div>
        </div>
    </div>


    <!--tercero-->


    <div class="box">
        <span class="discount">-5%</span>
        <div class="image">
            <img src="img/img3.webp" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>CanAmor Shampoo para perros y gatos</h3>
            <div class="price">$20.000 <span>$12.000</span></div>
        </div>
    </div>



     <!--cuarto-->


     <div class="box">
        <span class="discount">-12%</span>
        <div class="image">
            <img src="img/img11.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Collar rosado para perros y gatos</h3>
            <div class="price">$30.000 <span>$22.000</span></div>
        </div>
    </div>


     <!--quinto-->


     <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img12.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Cuerda de juego para perros</h3>
            <div class="price">%30.000 <span>$20.000</span></div>
        </div>
    </div>


    <!--sexto-->


    <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img10.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="fas fa-car"></a>
                 <a href="#" class="cart-btn">Comprar</a>
            </div>
        </div>
        <div class="content">
            <h3>Collar de metal para perros raza grande </h3>
            <div class="price">$35.000 <span>$10.000</span></div>
        </div>
    </div>


    

</div>

<a href="productos.html"  class="btn"> Ver más</a>
</section>

<!--FOOTERRRR-->


    <div class="credit">creado por <span>AIKO CAMACHO 🦝</span> 
     </div>
 

</section>




</body>
</html>